CREATE CONTROLFILE REUSE set DATABASE "{{ .DatabaseName }}" RESETLOGS ARCHIVELOG
    MAXLOGFILES 16
    MAXLOGMEMBERS 3
    MAXDATAFILES 100
    MAXINSTANCES 8
    MAXLOGHISTORY 292
LOGFILE
  GROUP 1 '{{ .DataFilesDir }}/redo01.log'  SIZE 1G BLOCKSIZE 512,
  GROUP 2 '{{ .DataFilesDir }}/redo02.log'  SIZE 1G BLOCKSIZE 512,
  GROUP 3 '{{ .DataFilesDir }}/redo03.log'  SIZE 1G BLOCKSIZE 512
DATAFILE
{{ .DataFilesMultiLine }}
CHARACTER SET AL32UTF8