test --test_env=TEST_IMAGE_ORACLE_18_XE_SEEDED=$TEST_IMAGE_ORACLE_18_XE_SEEDED
test --test_env=TEST_IMAGE_ORACLE_19_3_EE_SEEDED=$TEST_IMAGE_ORACLE_19_3_EE_SEEDED
test --test_env=TEST_IMAGE_ORACLE_12_2_EE_UNSEEDED_31741641=$TEST_IMAGE_ORACLE_12_2_EE_UNSEEDED_31741641
test --test_env=TEST_IMAGE_ORACLE_12_2_EE_SEEDED_BUGGY=$TEST_IMAGE_ORACLE_12_2_EE_SEEDED_BUGGY
test --test_env=TEST_IMAGE_ORACLE_12_2_EE_SEEDED=$TEST_IMAGE_ORACLE_12_2_EE_SEEDED
test --test_env=TEST_IMAGE_ORACLE_19_3_EE_UNSEEDED_32545013=$TEST_IMAGE_ORACLE_19_3_EE_UNSEEDED_32545013
